*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #11151c;
}

.navigation
{
    position: relative;
    width: 70px;
    height: 70px;
    background: #364156;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0.8s;
}

.navigation.active
{
    width: 200px;
    height: 200px;
    transition-delay: 0s;
}

.navigation span
{
    position: absolute;
    width: 7px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x)),calc(12px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

.navigation.active span
{
    width: 45px;
    height: 45px;
    background: #212d40;
    transform: translate(calc(60px * var(--x)),calc(60px * var(--y)));
}

.navigation span ion-icon
{
    transition: 0.5s;
    font-size: 0px;
}

.navigation.active span ion-icon
{
    font-size: 1.2em;
    color: azure;
}

.navigation.active span:hover ion-icon
{
    color: #7d4e57;
    filter: drop-shadow(0 0 2px #9cc5a1) drop-shadow(0 0 5px aqua) drop-shadow(0 0 15px aqua);
}